body {
    background-image: url('../assets/nba-teams.png');
    background-size: contain;
    background-attachment: fixed;
    background-repeat: repeat;
}

.carousel-conatiner {
    height: 300px;
    width: 400px;
}